<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408732211320-g2pg9o7h2qmhu3dhulpdba1k3sfm5q6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408732211320-g2pg9o7h2qmhu3dhulpdba1k3sfm5q6m</string>
	<key>API_KEY</key>
	<string>AIzaSyACLHL1hB1iudR614QgbdS1MXn_HygDETo</string>
	<key>GCM_SENDER_ID</key>
	<string>408732211320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftlec.Moca</string>
	<key>PROJECT_ID</key>
	<string>login-107db</string>
	<key>STORAGE_BUCKET</key>
	<string>login-107db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408732211320:ios:faff403104e1b0c65bb58d</string>
</dict>
</plist>